<%- include('./partials/headerPrinter.ejs') %>

<h1>Printers </h1>

<!-- if there are printers to display -->
<% if (printers.length > 0) { %>

<div class="indexDiv">
    <table class="printers">
            <tr>
                <td class="tableTitle"><p>Printer Name</p></td>
                <td class="tableTitle"><p>Printer Price</p></td>
            </tr>
            <% for (let i = 0; i < printers.length; i++) { %>
                <tr>
                    <td><a class="indexDivLink" href='<%= `/printers/${i}` %>'> <%= printers[i].name%></a></td>
                    <td><p class="indexDivPrice"><%= printers[i].price %></p></td>
                </tr>

                <tr>
                    <td><img class="indexDivImg" src="<%= printers[i].img%>"></img></td>
                </tr>
            <%}%>  
            
    </table> 
</div>

<%}%> 
<% if (printers.length < 1)  { %>
 
<h2>There are no printers to display</h2>

<%}%>

<%- include('./partials/footer.ejs') %>