<%- include('./partials/header.ejs') %>

<h1>Printers </h1>

<!-- if there are printers to display -->
<% if (printers.length > 0) { %>

<div class="indexDiv">
    <table class="printers">
        
            <% for (let i = 0; i < printers.length; i++) { %>
                <tr>
                    <td><a href='<%= `/printers/${i}` %>'> <%= printers[i].name%></a></td>
                    <%}%>
        
                    <% for (let i = 0; i < printers.length; i++) { %>
                    <td><img src="<%= printers[i].img%>"></img></td>
                </tr>
            <%}%>  
            
    </table> 
</div>

<%}%> 
<% if (printers.length < 1)  { %>
 
<h2>There are no printers to display</h2>

<%}%>

<%- include('./partials/footer.ejs') %>