<%- include('./partials/headerPart.ejs') %>

<h1>Parts </h1>

<!-- if there are parts to display -->
<% if (parts.length > 0) { %>

<div class="indexDiv">
    <table class="parts">
        <tr>
            <td class="tableTite" id="partName"> Name </td>
            <td class="tableTite" id="partType"> Type </td>
            <td class="tableTite" id="partPrice"> Price</td>
        </tr>
        <% for (let i = 0; i < parts.length; i++) { %>
            <tr>
                <td><a class="indexDivLink" href='<%= `/parts/${i}` %>'> <%= parts[i].name %></a></td>
                <td><p class="indexDivType"> <%=parts[i].type %></p></td>
                <td><p class="indexDivPrice"><%=parts[i].price %></p></td>
            </tr> 

            <tr>
                <td><img class="indexDivImg" src="<%= parts[i].img%>"></img></td>
                <td></td>
            </tr>
        <%}%>  
    

    </table> 
</div>

<%}%> 
<% if (parts.length < 1)  { %>
 
<h2>There are no parts to display</h2>

<%}%>

<%- include('./partials/footer.ejs') %>