<%- include('./partials/header.ejs') %>
<div class="container">
    <h1>New Printer Entry</h1>
    <form action="/printers" method="POST">
        <input type="text" name="name" placeholder="Name" required/><br><br>
        <input type="text" name="img" placeholder="Image URL" ><br><br>

        <!-- dropdown for basePrinter -->
        <label for="basePrinter">Base Printer</label>
        <select name = "basePrinter">
            <option value="">None</option>
            <% for (let i = 0; i < printers.length; i++) { %>
                <option value="<% printers[i].name %>"><%= printers[i].name %></option>
            <%}%> 
        </select> <br/>

        <!-- dropdown for motionSystem -->
        <label for="motionSystem">Motion System</label>
        <select name = "motionSystem" required>
            <% for (let i = 0; i < parts.length; i++) { %>
                <% if (parts[i].type === "motionSystem") { %>
                <option><%= parts[i].name %></option>
                <%}%>
            <%}%> 
        </select> <br/>

        <!-- dropdown for bed -->
        <label for="bed">Bed</label>
        <select name = "bed" required>
            <% for (let i = 0; i < parts.length; i++) { %>
                <% if (parts[i].type === "bed") { %>
                <option><%= parts[i].name %></option>
                <%}%>
            <%}%> 
        </select> <br/>

     <!-- dropdown for psu -->
     <label for="psu">PSU</label>
     <select name = "psu" required>
         <% for (let i = 0; i < parts.length; i++) { %>
             <% if (parts[i].type === "psu") { %>
             <option><%= parts[i].name %></option>
             <%}%>
         <%}%> 
     </select> <br/>

     <!-- dropdown for motherboard -->
     <label for="motherboard">Motherboard</label>
     <select name = "motherboard" required>
         <% for (let i = 0; i < parts.length; i++) { %>
             <% if (parts[i].type === "motherboard") { %>
             <option><%= parts[i].name %></option>
             <%}%>
         <%}%> 
     </select> <br/>

     <!-- dropdown for extruder -->
     <label for="extruder">Extruder</label>
     <select name = "extruder" required>
         <% for (let i = 0; i < parts.length; i++) { %>
             <% if (parts[i].type === "extruder") { %>
             <option><%= parts[i].name %></option>
             <%}%>
         <%}%> 
     </select> <br/>

     <!-- dropdown for hotEnd -->
     <label for="hotEnd">Hot End</label>
     <select name = "hotEnd" required>
         <% for (let i = 0; i < parts.length; i++) { %>
             <% if (parts[i].type === "hotEnd") { %>
             <option><%= parts[i].name %></option>
             <%}%>
         <%}%> 
     </select> <br/>
   
     <!-- dropdown for nozzle -->
     <label for="nozzle">Nozzle</label>
     <select name = "nozzle" required>
         <% for (let i = 0; i < parts.length; i++) { %>
             <% if (parts[i].type === "nozzle") { %>
             <option><%= parts[i].name %></option>
             <%}%>
         <%}%> 
     </select> <br/>

     <!-- dropdown for lcd -->
     <label for="lcd">LCD</label>
     <select name = "lcd">
         <% for (let i = 0; i < parts.length; i++) { %>
             <% if (parts[i].type === "lcd") { %>
             <option><%= parts[i].name %></option>
             <%}%>
         <%}%> 
     </select> <br/>

    <!-- checkbox for filaRunout -->
     <label for="filaRunout">Filament Runout Sensor</label>
     <input type="checkbox" name="filaRunout"><br/>

    <!-- checkbox for blSensor -->
     <label for="blSensor">Bed Leveling Sensor</label>
     <input type="checkbox" name="blSensor"><br/>

     <input type="submit" value="Make Printer">
    </form>
</div>
<%- include('./partials/footer.ejs') %>