<%- include('./partials/header.ejs') %>
<div class="container">
    <h1>New Printer Entry</h1>
    <form action="/printers/<%= basePrinter.name %>" method="POST">
        <input type="text" name="name" placeholder="Name" required/><br><br>
        <input type="text" name="img" placeholder="Image URL" ><br><br>

        <!-- text box for basePrinter -->
        <label for="basePrinter">Base Printer</label>
        <% if (baseSelected === true) {%>
        <input type="text" name ="basePrinter" value="<%= basePrinter.name %>" readonly> <br/>
        <% } %>

        <% if (baseSelected === false) {%>
            <input type="text" name ="basePrinter" value="none" readonly> <br/>
        <% } %>
    

        <!-- dropdown for motionSystem -->
        <label for="motionSystem">Motion System</label>
        <select name = "motionSystem" required>
            <% for (let i = 0; i < parts.length; i++) { %>
                <% if (parts[i].type === "motionSystem") { %>
                    <% if (parts[i].name === basePrinter.motionSystem) {%>
                        <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                    <% } %> 

                    <% if (parts[i].name != basePrinter.motionSystem) {%>
                        <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                    <% } %> 
                <% } %>
            <%}%> 
        </select> <br/>

        <!-- dropdown for bed -->
        <label for="bed">Bed</label>
        <select name = "bed" required>
            <% for (let i = 0; i < parts.length; i++) { %>
                <% if (parts[i].type === "bed") { %>
                    <% if (parts[i].name === basePrinter.bed) {%>
                        <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                    <% } %> 

                    <% if (parts[i].name != basePrinter.bed) {%>
                        <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                    <% } %> 
                <% } %>
            <%}%>
        </select> <br/>

     <!-- dropdown for psu -->
     <label for="psu">PSU</label>
     <select name = "psu" required>
        <% for (let i = 0; i < parts.length; i++) { %>
            <% if (parts[i].type === "psu") { %>
                <% if (parts[i].name === basePrinter.psu) {%>
                    <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                <% } %> 

                <% if (parts[i].name != basePrinter.psu) {%>
                    <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                <% } %> 
            <% } %>
        <%}%> 
     </select> <br/>

     <!-- dropdown for motherboard -->
     <label for="motherboard">Motherboard</label>
     <select name = "motherboard" required>
        <% for (let i = 0; i < parts.length; i++) { %>
            <% if (parts[i].type === "motherboard") { %>
                <% if (parts[i].name === basePrinter.motherboard) {%>
                    <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                <% } %> 

                <% if (parts[i].name != basePrinter.motherboard) {%>
                    <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                <% } %> 
            <% } %>
        <%}%>
     </select> <br/>

     <!-- dropdown for extruder -->
     <label for="extruder">Extruder</label>
     <select name = "extruder" required>
        <% for (let i = 0; i < parts.length; i++) { %>
            <% if (parts[i].type === "extruder") { %>
                <% if (parts[i].name === basePrinter.extruder) {%>
                    <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                <% } %> 

                <% if (parts[i].name != basePrinter.extruder) {%>
                    <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                <% } %> 
            <% } %>
        <%}%>
     </select> <br/>

     <!-- dropdown for hotEnd -->
     <label for="hotEnd">Hot End</label>
     <select name = "hotEnd" required>
        <% for (let i = 0; i < parts.length; i++) { %>
            <% if (parts[i].type === "hotEnd") { %>
                <% if (parts[i].name === basePrinter.hotEnd) {%>
                    <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                <% } %> 

                <% if (parts[i].name != basePrinter.hotEnd) {%>
                    <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                <% } %> 
            <% } %>
        <%}%> 
     </select> <br/>
   
     <!-- dropdown for nozzle -->
     <label for="nozzle">Nozzle</label>
     <select name = "nozzle" required>
        <% for (let i = 0; i < parts.length; i++) { %>
            <% if (parts[i].type === "nozzle") { %>
                <% if (parts[i].name === basePrinter.nozzle) {%>
                    <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                <% } %> 

                <% if (parts[i].name != basePrinter.nozzle) {%>
                    <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                <% } %> 
            <% } %>
        <%}%>
     </select> <br/>

     <!-- dropdown for lcd -->
     <label for="lcd">LCD</label>
     <select name = "lcd">
        <% for (let i = 0; i < parts.length; i++) { %>
            <% if (parts[i].type === "lcd") { %>
                <% if (parts[i].name === basePrinter.lcd) {%>
                    <option value="<%= parts[i].name %>" selected><%= parts[i].name %></option>
                <% } %> 

                <% if (parts[i].name != basePrinter.lcd) {%>
                    <option value="<%= parts[i].name %>"><%= parts[i].name %></option>
                <% } %> 
            <% } %>
        <%}%> 
     </select> <br/>

    <!-- checkbox for filaRunout -->
     <label for="filaRunout">Filament Runout Sensor</label>
     <input type="checkbox" name="filaRunout"><br/>

    <!-- checkbox for blSensor -->
     <label for="blSensor">Bed Leveling Sensor</label>
     <input type="checkbox" name="blSensor"><br/>

     <% basePrinter = "" %>
     
     <input type="submit" value="Make Printer">
    </form>
</div>
<%- include('./partials/footer.ejs') %>