<%- include('./partials/header.ejs') %>
    <h1><%=obj.name%> Page</h1> <br/>
    <img src=<%=(obj.img) %> > <br/>

    <% for (let i =  0; i < Object.keys(obj).length; i++) {%>

        <!-- for each key in the type, show the value of that key -->
        
    <p> <%=Object.keys(obj)[i]%>: <%= Object.values(obj)[i] %></p> 

    <% } %>

    <a id="editButton" href="/parts/<%= index %>/edit">Edit part</a>

    <br/>
    <br/>
    <!-- delete route -->
    <form action="/parts/<%= index %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>

<%- include('./partials/footer.ejs') %>