<%- include('./partials/header.ejs') %>
    <h1><%=printers[index].name%> Page</h1>
    <!-- <img src=<%=(printers[index].img) %> > <br> -->
    <a id="editButton" href="/printers/<%= index %>/edit">Edit printer</a>
<%- include('./partials/footer.ejs') %>