<%- include('./partials/headerPart.ejs') %>
    <h1><%=obj.name%> Page</h1> <br/>
    <form>
        <input type="button" value="Back To Parts" onclick='window.open("/parts")'>
    </form> <br/>
    
    <img id="showPartImg" src="<%=(obj.img) %>"><br/>

    <% for (let i =  0; i < Object.keys(obj).length; i++) {%>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='motionSystem') {%>
        <p class="partAtts">type: Motion System</p>
        <% } %>
            
        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='bed') {%>
            <p class="partAtts">type: Bed</p>
        <% } %>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='psu') {%>
            <p class="partAtts">type: PSU</p>
        <% } %>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='motherboard') {%>
            <p class="partAtts">type: Motherboard</p>
        <% } %>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='extruder') {%>
            <p class="partAtts">type: Extruder</p>
        <% } %>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='hotEnd') {%>
            <p class="partAtts">type: Hot End</p>
        <% } %>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='nozzle') {%>
            <p class="partAtts">type: Nozzle</p>
        <% } %>

        <% if (Object.keys(obj)[i] === 'type' && Object.values(obj)[i] ==='lcd') {%>
            <p class="partAtts">type: LCD</p>
        <% } %>

        <!-- for each key in the type, show the value of that key -->
        <% if (Object.keys(obj)[i] != 'type') {%>
            <p class="partAtts"> <%=Object.keys(obj)[i]%>: <%= Object.values(obj)[i] %></p> 
        <% } %>    
    <% } %>

    <!-- if it is not one of the first parts, display edit and delete button -->
    <% if (index > 7) {%>
    <a id="editButton" href="/parts/<%= index %>/edit">Edit part</a>

    <br/>
    <br/>
    <!-- delete route -->
    <form action="/parts/<%= index %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    </form>
    <% } %>

<%- include('./partials/footer.ejs') %>